.content {
  padding: 50px 10% 0 10%;
}
.about-us-text {
  color: #032747;
}

.lebron {
  width: 100%;
  height: 40vh;
  border-radius: 40px;
  object-fit: cover;
  object-position: top;
}

.messi {
  width: 100%;
  height: 40vh;
  border-radius: 10%;
  object-fit: cover;
  object-position: top;
}

.wlcm-text-logo {
  display: grid;
  grid-template-columns: 170px 100px;
}
.wlcm-text {
  color: #032747;
}

.wlcm-logo {
  width: 100px;
}

.vision-text {
  color: #686868;
}

.vision-para {
  color: #686868;
  font-size: 12px;
}

.dunk {
  height: 50vh;
  width: 100%;
}

.HTP-sec-2-item-1 {
  width: 100%;
  height: 25vh;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 9px #0039693b;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  position: relative;
}

.htp1 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -65px;
  left: 38%;
}

.HTP-sec-2-item-1-text {
  color: #686868;
  font-size: 12px;
  width: 65%;
  text-align: center;
}

.what-make-head {
  color: #032747;
}

.what-make-text {
  color: #686868;
}

.messi2 {
  width: 100%;
  height: 50vh;
  border-radius: 10px;
}

.how-pred-head {
  color: #032747;
}
ol {
  color: #032747;
  font-size: 12px;
}

@media screen and (max-width: 997px) {
  .messi,
  .lebron {
    height: 60vh;
  }
}

@media screen and (max-width: 1000px) {
  .dunk {
    display: none;
  }
}
