.content {
  padding: 50px 10% 0 10%;
}
.contact-us-text {
  color: #032747;
}

.lebron {
  width: 100%;
  height: 40vh;
  border-radius: 40px;
}

.messi {
  width: 100%;
  height: 40vh;
  border-radius: 10%;
}

.card-outer {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0039693b;
  border-radius: 5px;
  height: 60vh;
  width: 100%;
  padding: 10px 5% 0 5%;
}

.input {
  width: 80%;
  height: 7vh;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #8e8e8e29;
  border: 1px solid #dedede;
  border-radius: 10px;
}

.msg {
  width: 94%;
  height: 15vh;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #8e8e8e29;
  border: 1px solid #dedede;
  border-radius: 10px;
}

.send-btn {
  background-color: #032747 !important;
  width: 85px;
}

.send-btn-text {
  color: #ffffff;
}

.msg-img {
  height: 45vh;
}

@media screen and (max-width: 779px) {
  .card-outer {
    height: 85vh;
  }
  .msg-img {
    height: 35vh;
  }
}
@media screen and (max-width: 559px) {
  .msg-img {
    height: 25vh;
  }
}
