* {
  margin: 0;
  padding: 0;
}

.CT-bdy {
  background-color: #003a6938 !important;
  height: 100%;
  width: 100%;
  padding: 20px 3% 0 3%;
}

.CT-text {
  color: #003969;
}

.CT-back-btn {
  background-color: #003969 !important;
  position: absolute;
  right: 7px;
  top: 0;
  box-shadow: 0px 3px 6px #00000029 !important;

  border-radius: 6px;
  width: 130px;
  height: 45px;
}

.CT-back-btn-text {
  color: white;
  font-size: 14px;
}

.CT-outer {
  background-color: white;
  width: 100%;
  height: 80%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #b6d0e6;
  border-radius: 10px;
  padding: 20px 3% 0 3%;
}

.sports-text {
  color: #5d5c5c;
  font-size: 12px;
}
.sport-select {
  color: #ababab;
  width: 100%;
  height: 7vh !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #cbcbcb;
  border-radius: 3px;
  padding-left: 10px;
  box-shadow: 0px 3px 6px #b6d0e6;
  border-radius: 3px;
}

.team-name-text {
  color: #5d5c5c;
  font-size: 12px;
}

.team-name-input {
  color: #ababab;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #cbcbcb;
  border-radius: 3px;
  padding-left: 10px;
  width: 100%;
  height: 7vh !important;
  box-shadow: 0px 3px 6px #b6d0e6;
  border-radius: 3px;
}

.create-team-btn-text {
  color: white;
  font-size: 14px;
}

.create-team-btn {
  background-color: #003969 !important;
  padding-bottom: 8px !important;
  width: 150px;
  box-shadow: 0px 3px 6px #00000029 !important;
  border-radius: 4px !important;
}

@media screen and (max-width: 520px) {
  .create-team-btn-text {
    font-size: 10px;
  }
}
@media screen and (max-width: 450px) {
  .create-team-btn {
    width: 120px;
  }
}

.ads-card {
  width: 100%;
  height: 30vh;
  background: #003969 0% 0% no-repeat padding-box;
  border-radius: 17px;
  text-align: center;
  padding-top: 90px;
}
