.footer {
  padding: 0 10% 20px 10%;
  background-image: url(./img/ft-bg.png);
}

.lebron4 {
  width: 100%;
  height: 70px;
  border-radius: 10px;
}

.vew-all {
  border: 2px solid #979797;
  border-radius: 10px;
  width: 100%;
  height: 70px;
  text-align: center;
  padding: 15px;
}

.foot-nav {
  background-color: #003969;
  width: 100%;
  height: 70px;
  padding: 20px 0 0 10%;
}

.footer-item-2 {
  padding-left: 35%;
}
.footer-item-3 {
  padding-left: 10%;
}
@media screen and (max-width: 997px) {
  .footer-item-2,
  .footer-item-3 {
    padding-left: 0;
  }
}
