* {
  margin: 0;
  border: 0;
}
body {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  padding: 70px 0 0 35%;
}

.FP-card {
  width: 350px;
  height: 350px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0039693b;
  border-radius: 10px;

  text-align: center;
  padding: 25px 12px 0 12px;
  position: relative;
}

.close-img {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 20px;
  height: 20px;
}
.login-text {
  color: #003a69;
}

.email {
  width: 99%;
  height: 50px;
  color: #003a69 !important;
  background: #eff4fe 0% 0% no-repeat padding-box;
  border-radius: 6px;
  border: none;
  padding-left: 45px;
}

.email-img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  left: 5%;
}

.reset-btn {
  background-color: #003a69 !important;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;
}

.reset-btn-text {
  color: #fff;
  font-size: 14px;
}

@media screen and (max-width: 774px) {
  body {
    padding-left: 15%;
  }
}

@media screen and (max-width: 441px) {
  body {
    padding-left: 5%;
  }
}
