body {
  padding-left: 0 !important;
}

* {
  margin: 0%;
  padding: 0%;
}

.crousel-div {
  width: 100% !important;
  height: 20% !important;
}
.messi {
  width: 100%;
  height: 25vh;
}

.messi2 {
  width: 100%;
  height: 42vh;
  border-radius: 20px;
  object-fit: cover;
  object-position: top;
}

.lebron2 {
  width: 100%;
  height: 19vh;
  border-radius: 10px;
  object-fit: cover;
  object-position: top;
}

.qst {
  background-image: url(./img/qst-bg.png);
  width: 100%;
  height: 90vh;
  text-align: center;
  align-items: center;
  padding: 4% 10% 0 10%;
}

.qst-in-text {
  color: white;
  font-size: 12px;
  text-align: left;
  padding-bottom: 10px;
}

.qst-in {
  width: 100%;
  height: 6vh;
  padding-left: 15px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #8e8e8e29;
  border-radius: 6px;
  border: none;
}

.qst-yr-msg {
  width: 100%;
  height: 16vh;
  padding-left: 15px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #8e8e8e29;
  border-radius: 16px;
  border: none;
}

.btn-send {
  background-color: white !important;
  width: 100px;
}

.top-card {
  width: 400px;
  height: 350px;
  background-color: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 150px;
  left: 150px;
  padding: 20px 15px 0 20px;
}

@media screen and (max-width: 683px) {
  .top-card {
    width: 300px;
    height: 300px;
    left: 60px;
    top: 200px;
  }
}

.bolo-text {
  color: #ffffff;
  height: 4vh;
  width: 150px;
  background-color: #003969;
  font-size: 30px;
  border: #003969;
}

.LTH-text {
  font-size: 50px;
  font-weight: 700;
}

@media screen and (max-width: 1281px) {
  .LTH-text {
    font-size: 30px;
  }
}

.btn-log {
  background-color: #003969 !important;
  border: #003969 2px white !important;
  width: 27%;
  transform: skew(-20deg) !important;
}

@media screen and (max-width: 931px) {
  .btn-log-text,
  .btn-reg-text {
    font-size: 12px;
  }
}
.btn-reg {
  background-color: #ffffff !important;
  border: #003969 2px solid !important;
  transform: skew(-20deg) !important;
  width: 27%;
}
.bl-img-ot {
  padding-left: 30%;
}

.bl-img {
  opacity: 25%;
  position: absolute;
  width: 20%;
  right: 5%;
}

/* slider */

.swiper {
  width: 100%;
  height: 97vh;
  border-radius: 10px;
}

.swiper-slide {
  background: transparent;

  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products-3 .swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
.products-3 .swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.sl-btn2.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px !important;
}

.sl-btn1.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10px !important;
}
.products-3 .swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 180px !important;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.products-3 .swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 180px !important;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.slider-btn {
  height: 40px;
  width: 40px;
  transform: rotate(180deg);
}
.slider-btn2 {
  height: 40px;
  width: 40px;
}

.v-slider {
  border: solid 1px #d5d5d5;
  border-radius: 10px;
  height: 72%;
}

.v-slider-inner {
  overflow-y: scroll;
  height: 82%;
}
.r-card {
  display: grid;
  grid-template-columns: 30% 70%;
}

.r-card-1 {
  padding-left: 10px;
}
.messi-v {
  width: 100%;
  border-radius: 10px;
  height: 100%;
}
.r-card-2 {
  padding-left: 20px;
}
