* {
  margin: 0;
  padding: 0;
}
.HTP-bdy {
  background-color: #003a6938 !important;
  height: 110%;
  width: 100%;
  padding: 20px 3% 0 3%;
}

.HTP-text {
  color: #003969;
}

.HTP-back-btn {
  background-color: #003969 !important;
  position: absolute;
  right: 7px;
  top: 0;
  background: #003969 0% 0% no-repeat padding-box !important;
  border-radius: 6px !important;
  width: 150px;
  height: 6vh;
}

.HTP-back-btn-text {
  color: white;
  font-size: 14px;
}

.HTP-outer {
  background-color: white;
  width: 100%;
  height: 90%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #b6d0e6;
  border-radius: 10px;
  padding: 30px 2% 0 2%;
}

.HTP-head-text {
  color: #003969;
  font-weight: 700;
}

.lebron-img {
  border: 2px solid #ffffff;
  width: 95%;
  height: 30vh;
  border-radius: 10%;
  object-fit: cover;
  object-position: top;
}

@media screen and (max-width: 610px) {
  .HTP-outer {
    padding-left: 20px;
  }
}

.HTP-sec-2-item-1 {
  width: 95%;
  height: 25vh;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0039693b;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  position: relative;
}

.htp1 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -65px;
  left: 36%;
}

.HTP-sec-2-item-1-text {
  color: #686868;
  font-size: 12px;
  width: 65%;
  text-align: center;
}

.ads-box {
  width: 54.5%;
  height: 10vh;
  background: #003969 0% 0% no-repeat padding-box;
  border-radius: 10px;
  text-align: center;
  padding-top: 8px;
}

.ads-text {
  color: white;
}

@media screen and (max-width: 610px) {
  .ads-text {
    font-size: 15px;
  }
}

.left-menu {
  height: 110% !important;
}
ol,
ul {
  padding: 0 !important;
  padding-left: 20px !important;
}
