/* left-menu */

.left-menu {
  width: 100%;
  height: 100vh;
  border: 0.5px rgb(227, 224, 224) solid;

  padding: 0 !important;
}

.item {
  height: 80px;
  width: 100%;
  border: 0.2px rgb(227, 224, 224) solid;
  padding-left: 25px;
  font-weight: 700;
  color: #ababab;
  padding-top: 25px;
  padding-left: 20px;
}
.menu-img {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

.item:hover {
  background-color: #003969;
  color: white;
}

@media screen and (max-width: 500px) {
  .menu-img {
    height: 15px;
    width: 15px;
  }
}

@media screen and (max-width: 700px) {
  .left-menu {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 485px) {
  .left-menu {
    font-size: 8px !important;
  }
}

@media screen and (max-width: 581px) {
  .item {
    padding: 10px;
  }
}
