.prediction-heading {
  margin-left: 15px;
  padding-bottom: 25px;
}

.prediction-outer {
  align-items: center;
  margin-top: 25px !important;
  padding-bottom: 35px !important;
}

.prediction-item-1 {
  height: 170px;
  width: 100%;
  border: 0.2px rgb(227, 224, 224) solid;
  border-radius: 10px;
  text-align: center !important;
  align-items: center;
  box-shadow: 0px 3px 6px #b6d0e6;
}

.hr {
  width: 75px;
  transform: rotate(-90deg);
  text-align: center;

  margin-top: 35px;
}

.globe-img {
  width: 100%;
  height: 100%;
}

.calendar {
  width: 70%;
  height: 60%;
  align-items: center;
}
.pred-text {
  font-size: 32px;
  text-align: center;
}

@media screen and (max-width: 1315px) {
  .text-head {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 600px) {
  .calendar,
  .globe-img {
    height: 50px;
    width: 50px;
  }
}

@media screen and (max-width: 600px) {
  .calendar,
  .globe-img {
    padding-right: 10px;
  }
}

@media screen and (max-width: 560px) {
  .pred-text {
    font-size: 15px !important;
  }
}
@media screen and (max-width: 560px) {
  .text-head {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 450px) {
  .calendar,
  .globe-img {
    height: 30px;
    width: 40px;
    margin-right: 25px;
  }
}
