* {
  padding: 0;
  margin: 0;
}

.STC-bdy {
  background-color: #003a6938 !important;
  height: 100%;
  width: 100%;
  padding-left: 3% !important;
  padding-top: 20px;
}

.STC-text {
  color: #003969;
}

.STC-back-btn {
  background-color: #003969 !important;
  position: absolute;
  right: 50px;
  top: 0;
  height: 6vh;
  width: 150px;
}

.STC-back-btn-text {
  color: white;
  font-size: 14px;
}

.STC-card {
  width: 500px;
  height: 45vh;
  box-shadow: 0px 3px 6px #b6d0e6;
  border-radius: 18px;
  background-color: white;
  text-align: center;
  align-items: center;
  padding-top: 35px;
}

@media screen and (max-width: 650px) {
  .STC-card {
    width: 98%;
  }
}

.team-name-text {
  color: #ababab;
}
.team-name {
  color: #003969;
  font-weight: 700;
}

.sports-name-text {
  color: #ababab;
  padding-right: 5px;
}

.sports-name {
  font-weight: 600;
  font-size: 20px;
}

.points-text {
  color: #ababab;
  padding-right: 5px;
}

.points {
  font-weight: 600;
  font-size: 20px;
}

.ranking-text {
  color: #003969;
}

.prediction-item-1 {
  margin-left: 60px;
  height: 170px;
  width: 80%;
  border: 0.2px rgb(227, 224, 224) solid;
  border-radius: 10px;
  text-align: center !important;
  align-items: center;
}

.hr {
  width: 75px;
  transform: rotate(-90deg);
  text-align: center;

  margin-top: 35px;
}

.globe-img {
  width: 60%;
  height: 60%;
}

.calendar {
  width: 60%;
  height: 60%;
  align-items: center;
}
.pred-text {
  font-size: 34px;
  text-align: center;
}

@media screen and (max-width: 485px) {
  .globe-img {
    width: 40px;
    height: 40px;
  }

  .calendar {
    width: 40px;
    height: 40px;
    align-items: center;
  }
}
.buttons {
  padding-top: 50px;
}
.btn1,
.btn2 {
  background-color: #003969 !important;
}

.btn1-text,
.btn2-text,
.btn3-text {
  color: white !important;
  font-size: 15px;
}

.btn3 {
  background-color: #dc3545 !important;
}
