.body {
  align-items: center;
}

.team-score-card-outer {
  width: 50%;
  height: 60%;
  align-items: center;
  left: 25%;
  position: absolute;
  text-align: center;
  top: 164px;
  border: 1px solid #d2d2d2;
  border-radius: 18px;
  padding-bottom: 50px;
}

.item-1 {
  align-items: center;
}
.item-2 {
  align-items: center;
}
.item-3 {
  align-items: center;
}

.img-outer {
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 60%;
  height: 105px;
  margin-left: 20%;
  padding-top: 5px;
  box-shadow: 0px 3px 6px #0039694f;
}
.item-1-img {
  width: 50%;
  width: 50%;
}
.item-2-img {
  width: 30%;
  width: 30%;
  margin-bottom: 10px;
}

.item-3-img {
  width: 50%;
  width: 50%;
}

.score-1 {
  width: 30%;
  height: 61px;
  border: 1px solid #d2d2d2;

  border-radius: 5px;
  opacity: 1;
  margin-bottom: 10px;
  align-items: center;
  padding-top: 8px;
  margin-left: 35%;
  box-shadow: 0px 3px 6px #0039694f;
}

.score-2 {
  width: 30%;
  height: 61px;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  opacity: 1;
  margin-bottom: 10px;
  align-items: center;
  padding-top: 8px;
  margin-left: 35%;
  box-shadow: 0px 3px 6px #0039694f;
}

.btn-1 {
  width: 80%;
  height: 44px;
  background: #003969 0% 0% no-repeat padding-box;
  border-radius: 4px;
  color: white;
  border: none;
  box-shadow: 0px 3px 6px #00000029 !important;

  border-radius: 6px;
}

.btn-3 {
  width: 80%;
  height: 44px;
  background: #003969 0% 0% no-repeat padding-box;
  border-radius: 4px;
  color: white;
  border: none;
  box-shadow: 0px 3px 6px #00000029 !important;

  border-radius: 6px;
}

.btn-2 {
  width: 70%;
  height: 37px;
  background: #dc3545 0% 0% no-repeat padding-box;
  border-radius: 4px;
  color: white;
  border: none;

  border-radius: 4px;
}

@media screen and (max-width: 1094px) {
  .team-score-card-outer {
    width: 65%;
    left: 20%;
  }
}

@media screen and (max-width: 815px) {
  .team-score-card-outer {
    width: 80%;
    left: 15%;
  }
}

@media screen and (max-width: 660px) {
  .team-score-card-outer {
    width: 90%;
    left: 9%;
  }
}

@media screen and (max-width: 589px) {
  .team-score-card-outer {
    width: 95%;
    left: 5%;
  }
  .btn-1,
  .btn-3,
  .btn-2 {
    font-size: 12px;
  }
  .item-1-img,
  .item-3-img {
    width: 55px;
    height: 55px;
  }
  .score-1,
  .score-2 {
    height: 51px;
  }

  .item-2-img {
    width: 45px;
    height: 45px;
  }
}

@media screen and (max-width: 449px) {
  .btn-1,
  .btn-2,
  .btn-3 {
    font-size: 10px;
  }
}

@media screen and (max-width: 499px) {
  .score-1,
  .score-2 {
    width: 40%;
  }

  .img-outer {
    width: 70%;
  }
}

@media screen and (max-width: 449px) {
  .team-name {
    font-size: 10px;
  }
}
